@model FransfordSystem.Models.Inventario
@using Newtonsoft.Json
@{
    ViewData["Title"] = "Details";
}
<body onload="nombre()">
<h1>Detalle de inventario</h1>

<div>
    <h4>Consulta de la información completa del inventario</h4>
    <hr />

    <table style="width:auto; height:20px" class="table table-condensed table-bordered table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idProducto)
            </th>
                <th class="producto">
                @Html.DisplayFor(model => model.idProducto)
            </th>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.fechaVencimiento)
            </th>
            <th>
                @Html.DisplayFor(model => model.fechaVencimiento)
            </th>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.stock)
            </th>
            <th>
                @Html.DisplayFor(model => model.stock)
            </th>
        </tr>
    </table>

</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.idInventario">Editar</a> |
    <a asp-action="Index">Regresar a la lista de inventario</a>
</div>
    <script>
        function nombre() {
            var list2 = [];
            var list2 = @Html.Raw(JsonConvert.SerializeObject(ViewBag.productoDeLista));
            let td = document.getElementsByClassName("producto");


            for (let i = 0; i < td.length; i++) {
                for (let a = 0; a < list2.length; a++) {
                    if (td[i].innerHTML.trim() == list2[a]['IdProducto']) {
                        console.log(list2[a]['IdProducto']);
                        td[i].innerHTML = list2[a]['nombreProducto'];
                    }
                }
            }


        }


    </script>



</body>