@model IEnumerable<FransfordSystem.Models.Inventario>

@{
    ViewData["Title"] = "Index";
}

<h1>Inventario</h1>

<p>
        <a href="@Url.Action("Create", "Inventarios")" class="btn btn-primary" role="button" aria-pressed="true">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
        </svg>  Nuevo Registro
    </a>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idProducto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fechaVencimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.entrada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.salida)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.producto.nombreProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fechaVencimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.entrada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.salida)
            </td>
            <td>
                <a class="btn btn-success" asp-action="Entrada" asp-route-id="@item.idInventario">Agregar Entrada</a> |
                <a class="btn btn-info" asp-action="Edit" asp-route-id="@item.idInventario">Agregar Salida</a> |               
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.idInventario">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
