@using Newtonsoft.Json
@model FransfordSystem.Models.Asistencia

@{
    ViewData["Title"] = "Details";
}


<body onload="nombre()">
<h1>Detalles de la asistencia</h1>

<div>
    <h4>Consulta de la información completa del registro de la asistencia</h4>
    <hr />
    <table style="width:auto; height:20px" class="table table-condensed table-bordered table-hover">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idUsuario)
            </th>
            <th class="cliente">
                @Html.DisplayFor(model => model.idUsuario)
            </th>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.horaEntrada)
            </th>
            <th>
                @Html.DisplayFor(model => model.horaEntrada)
            </th>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.horaSalida)
            </th>
            <th>
                @Html.DisplayFor(model => model.horaSalida)
            </th>
        </tr>
    </table>
</div>
<div>
    <a asp-action="Index">Volver al resgistro de la asistencia</a>
</div>

<script>
            function nombre() {
                var list2 = [];
                var list2 = @Html.Raw(JsonConvert.SerializeObject(ViewBag.usuarioDeLista));
                let td = document.getElementsByClassName("cliente");


                for (let i = 0;i < td.length;i++){
                    for (let a = 0;a < list2.length; a++) {
                        if (td[i].innerHTML.trim() == list2[a]['Id']) {
                            console.log(list2[a]['Id']);
                        td[i].innerHTML = list2[a]['nombreTrabajador']+ " " + list2[a]['apellidoTrabajador'];
                        }
                    }
                }
       

            }


        </script>



</body>