@using Newtonsoft.Json
@model FransfordSystem.Models.FacturaExamen

@{
    ViewData["Title"] = "Create";
     var descri = ViewBag.descripcionDeLista as List<SelectListItem>;
}

<h1>Factura</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input id="idFactura" asp-for="idFactura" class="form-control"  type="hidden" value="@ViewBag.idFac"/>
                <span asp-validation-for="idFactura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="idCliente" class="form-control" type="hidden" value="@ViewBag.idCli"  />               
                <span asp-validation-for="idCliente" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label class="control-label">Seleccione Examen</label>
                <select asp-for="idExamen" onchange="precio()" id="selectExamen" class="form-control"  asp-items="@(new SelectList(@ViewBag.examenDeLista, "idExamen", "nombreExamen","PrecioExamen"))"></select>
                <span asp-validation-for="idExamen" class="text-danger"></span>
            </div>      
            <div class="form-group">
                <label  class="control-label">Precio del Examen</label>
                <input asp-for="precioExamen" readonly id="precio2" class="form-control" />
                <span asp-validation-for="precioExamen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Agregar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
    <script>
function precio() {
    let selectExamenes = document.getElementById('selectExamen');
    let valueExamen = selectExamenes.value;
    const examenSeleccionado = valueExamen;
    console.log(examenSeleccionado);
    var list = [];
    var list2 = [];
    var list = @Html.Raw(JsonConvert.SerializeObject(ViewBag.examenDeLista));
    var list2 = @Html.Raw(JsonConvert.SerializeObject(ViewBag.examFacDeLista));
    $("#precio2").val(list[examenSeleccionado]['PrecioExamen']);
    }
    </script>
<table class="table">
    <thead>
        <tr>
            <th>
                Examen
            </th>
            <th>
                Precio
            </th>
            <th></th>
        </tr>
    </thead>
     <tbody>
        @{                   
            var listaRes = ViewBag.examFacDeLista as IEnumerable<FransfordSystem.Models.FacturaExamen>;
             int selectedId = Convert.ToInt32(@ViewBag.idFac);
                        @foreach (var item in listaRes) {
                            <tr>
                                @if (item.idFactura == selectedId )
                    {
                                <td class="examen" > @item.Examen.nombreExamen</td>
                                <td class="precio" >@item.precioExamen</td>
                                                              
                         
                    }
                            </tr>
}
}
    </tbody>

</table>
<div class="row">
    <div class="col-md-3">
        TOTAL 
    </div>
    <div class="col-xs-4">
    $ @ViewBag.totalF
    </div>
</div>


<div>
    <a asp-controller="Facturas" asp-action="Index" class="btn btn-primary">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
