@model FransfordSystem.Models.FacturaExamen

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>¿Esta seguro que desea eliminar?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idExamen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idExamen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idFactura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idFactura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idCliente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.precioExamen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.precioExamen)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="idFacEx" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a class="btn btn-info" asp-action="Index">Regresar</a>
    </form>
</div>
