@model IEnumerable<FransfordSystem.Models.FacturaExamen>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idExamen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idFactura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.precioExamen)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.idExamen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idFactura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precioExamen)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.idFacEx">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.idFacEx">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.idFacEx">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
