@using Newtonsoft.Json
@model FransfordSystem.Models.ReporteExamen
@{
    ViewData["Title"] = "Index";
    var nombreClie = ViewBag.clientesDeLista as List<SelectListItem>;
}
<body onload="proba()">
<h1>Index</h1>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" >
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.fechaReporte)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idCliente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        
@foreach (ReporteExamen Reporte in ViewBag.ReporteFiltrado) {
        <tr>
            
            <td > 
                @Html.DisplayFor(modelItem => Reporte.fechaReporte)
            </td>
            <td class="cliente">
                @Html.DisplayFor(modelItem => Reporte.idCliente)                            
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@Reporte.IdReporteExamen">Edit</a> |
                <a asp-action="Details" asp-route-id="@Reporte.IdReporteExamen">Details</a> |
                <a asp-action="Delete" asp-route-id="@Reporte.IdReporteExamen">Delete</a>
            </td>
        </tr>
}

    <script>
        function proba() {
            
             let td = document.getElementsByClassName("cliente");
             var list = [];
             var list = @Html.Raw(JsonConvert.SerializeObject(ViewBag.clienteDeLista));
            for (let i = 0;i < td.length;i++){
                for (let a = 0;a < list.length; a++) {
                    if (td[i].innerHTML == list[a]['IdCliente']) {
                        td[i].innerHTML = list[a]['nombreCliente'] + ' ' +list[a]['apellidoCliente'];
                    }
                 }
                 
             }
        }
       
    </script>
    </tbody>
</table>
</body>