@model IEnumerable<FransfordSystem.Models.Cliente>
@using System.Linq;

<h1>Estadísticas de clientes</h1>

<div>

    <hr />
    <h5>Clientes registrados en total: @ViewBag.Clientes.Count</h5>
    <hr />

    <table class="table table-hover">
        <thead>
            <tr align="center">
                <th>
                    @Html.DisplayNameFor(model => model.dui)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.nombreCliente)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.apellidoCliente)
                </th>
                <th>
                    <a>Número de reportes</a>
                </th>
                <th>
                    <a>Exámenes realizados</a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr align="center">
                    <td>
                        @Html.DisplayFor(modelItem => item.dui)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.nombreCliente)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.apellidoCliente)
                    </td>
                    <td align="center">
                        @{
                            int acum1 = 0;
                            foreach (ReporteExamen reporte in ViewBag.Reportes)
                            {             
                                    if (item.IdCliente == reporte.idCliente)
                                    {
                                      acum1 = acum1 + 1; 
                                    }                               
                            }
                            <h5>@acum1</h5>
                        }
                    </td>
                    <td align="center">
                        @{
                            int acum2 = 0;
                            foreach (ReporteExamen reporte in ViewBag.Reportes)
                            {
                                foreach (Resultado resultado in ViewBag.Resultados)
                                {
                                    if (item.IdCliente == reporte.idCliente)
                                    {
                                        if (resultado.idReporteExamen == reporte.IdReporteExamen)
                                        {                          
                                            acum2 = acum2 + 1;                                           
                                        }
                                    }

                                }
                            }
                            <h5>@acum2</h5>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
<div>
    <a asp-action="Index">Regresar a la lista de clientes</a>
</div>
